{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FSantiago&src=Y3VhcnRpbm8yNEBnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Zjk3ZGEyNmQ0NDg0ZmM3Y2MwMjdjODAwYzFhYjllM2RlYmRmNzEwY2Q1Njg5MDA2ZjcxNTI0YmQxMzI5YjJmN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%23A79B8E" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}